<% layout("/layouts/boilerplate") %>
    
   <% if (typeof allData !== 'undefined' && allData.length > 0) { %>
  <% var renderList = allData; %>
<% } else if (typeof searchedLists !== 'undefined' && searchedLists.length > 0) { %>
  <% var renderList = searchedLists; %>
<% } else { %>
  <% var renderList = []; %>
<% } %>

        <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1 mt-3">
            <%for(data of renderList) {%> 

                <a href="/lists/<%= data.id%>" style="text-decoration: none;">
                    <div class="card listing-card" >
                    <img src="<%= data.image.url%>" class="card-img-top" alt="listingImage" style="height: 20rem;" >
                    
                    <div class="card-img-overlay"><%=data.title%></div>
                    <div class="card-body">

                    <p class="card-text">
                        <h4><%=data.title %></h4>
                        <p> &#8377; <%=data.price%><i class="tax-info"> &nbsp; +18% GST</i></p>
                        
                    </p>
                    </div>
                    </div>
                </a>
              <%}%>

        </div>

