<% layout("/layouts/boilerplate") %>
<body>
    <h1>Update your Details</h1>

    <form method="POST" class="needs-validation" novalidate action="/lists/<%=currentUserData.id %>?_method=put" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input  value="<%=currentUserData.title%>"  type="text" placeholder="Title" name="title" class="form-control">
            </div>
            
            <div  class="mb-3">
                <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" placeholder="add description.." name="description"><%=currentUserData.description%></textarea>
            </div>
            
            <div  class="mb-3">
            <label for="price" class="form-label">Price</label>
                <input value="<%=currentUserData.price%>" type="text" placeholder="Price" name="price" class="form-control">
            </div>

            <div  class="mb-3">
                <h6>Original Listing Image</h6>
                <img  src="<%=originalImageUrl%>"  alt="updated-Image">
            </div>

            <div  class="mb-3">
                <label for="image_url" class="form-label">Upload New Image</label>
                    <input type="file"  id="image_url"   name="image" class="form-control" >
            </div>
           
            <div class="row">
                <div  class="mb-3 col-md-4">
                    <lable for="location" class="form-label">Location</lable>
                <input type="text" placeholder="Location" name="location" value="<%=currentUserData.location%>" class="form-control">
                </div>
    
                <div  class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="Country" name="country" class="form-control" value="<%=currentUserData.country%>">
                
                </div>
    
            </div>
    
            <button class="btn mb-3 btn-dark add-btn">Update</button>
    </form>
    
</body>
